.story {
  &__pictures {
    background-color: var(--color-primary);
    grid-column: full-start / col-end 4;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-grey-light-1);
    grid-column: col-start 5 / full-end;

    // Use vw unit so that the padding looks more natural and responsive when shrinking browser
    padding: 6rem 8vw;

    // Grid alternative:
    // display: grid;
    // align-content: center;
    // justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
