.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__icon {
    fill: #fff;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  // &__container {
  //   cursor: pointer;
  //   // width: 100%;
  //   height: auto;
  // }
}

// .nav-btn {
//   border: none;
//   border-radius: 0;
//   background-color: #fff;
//   height: 0.2rem;
//   width: 4.5rem;
//   margin-top: 4rem;
//   cursor: pointer;

// &::before,
// &::after {
//   content: "";
//   background-color: #fff;
//   height: 0.2rem;
//   width: 4.5rem;
//   display: block;
//   cursor: pointer;
// }

// &::before {
//   transform: translateY(-1.5rem);
// }
// &::after {
//   transform: translateY(1.3rem);
// }
// }
