@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap");

:root {
  // COLOR VARIABLES
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  // FONT VARIABLES
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5rem; //1000px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
}

// TYPOGRAPHY
// Common heading extend
%heading {
  font-family: var(--font-display);
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1);
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1);
  }
}

// General Button
.btn {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 0;
  border: none;
  font-family: var(--font-display);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

// Helper Classes (margin)

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-xl {
  margin-bottom: 8rem;
}
